@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --font-size: 13px ;
}

body {
  background-color: var(--light-grayish-blue);
  font-size: var(--font-size);
  font-family: "Manrope", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  width: 330px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
main .article-text {
  background-color: white;
}
main .article-text h1 {
  margin: 0;
  color: var(--very-dark-grayish-blue);
  font-size: 1.05rem;
}
main .article-text .article-paragraph {
  margin: 0;
  color: var(--desaturated-dark-blue);
}

.author {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 0.5rem;
}
.author .avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-right: 1rem;
}
.author .name {
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
}
.author .date {
  color: var(--grayish-blue);
}
.author ul {
  list-style-type: none;
  padding-left: 0;
  padding-right: 5rem;
}

.share-popup {
  background-color: var(--very-dark-grayish-blue);
  color: white;
  display: none;
  width: 100%;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 10px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  letter-spacing: 5px;
  box-shadow: 0 10px 30px hsl(218deg, 5%, 66%);
}

.share-btn {
  border: none;
  border-radius: 50%;
  background-color: var(--light-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.share-btn img {
  width: 50%;
  height: 50%;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media (min-width: 800px) {
  body {
    background-color: var(--light-grayish-blue);
    font-size: var(--font-size);
    font-family: "Manrope", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    width: 730px;
    display: flex;
    margin-bottom: 2rem;
    box-shadow: 0 10px 30px hsl(213deg, 8%, 77%);
    flex-direction: row;
  }
  .article-img {
    width: 40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .article-text {
    height: 280px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
  }
  .article-text h1 {
    font-size: 1.25rem;
    padding-top: 1rem;
  }
  .article-text p {
    padding-top: 1rem;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .share-btn:hover {
    background-color: var(--very-dark-grayish-blue);
    cursor: pointer;
  }
  .share-btn:hover svg {
    fill: var(--grayish-blue);
  }
  .author {
    justify-content: flex-start;
    padding-top: 2rem;
  }
  .author ul {
    padding-right: 8rem;
  }
  .share-popup {
    border-radius: 0.5rem;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: -40px;
    left: 180px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    letter-spacing: 5px;
    box-shadow: 0 10px 30px hsl(218deg, 5%, 66%);
    width: 245px;
  }
  .share-popup #share-icon {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */